<!doctype html>
{% load static %}
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Dota for Noobs</title>
    <!--        <link rel="stylesheet" id="ample-style-css" href="{% static 'main.css' %}" type="text/css" media="all">-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">


</head>
<body class="wide">
<div id="page" class="hfeed site">
    <header>
        <div class="header">
            <div class="main-head-wrap inner-wrap clearfix">
                <div id="header-logo-image">
                </div>
                <div id="header-text" class="">
                    <div id="centered">
                        <h1 class="text-white shadow-lg p-3 mb-5 bg-primary">
                            Dota for Noobs
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-wrapper">
        <div class="single-page clearfix">
            <div class="inner-wrap">
                <hr>
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer id="colophon">
        <div class="inner-wrap">
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>